<div class="login-wrapper">
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form (submit)="onLogin(); $event.preventDefault()">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Ingrese su email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
            </div>
            <button type="submit" class="btn-classic">Ingresar</button>
        </form>
    </div>
</div>
