<!-- Botón tipo hamburguesa SIEMPRE visible -->
<button class="toggle-btn" (click)="toggle()">
    ☰
</button>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light border border-success" 
             [ngClass]="{'hidden': !isVisible}">

            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <br><br><br><br>

                <!-- Mostrar el menú solo si no hay una práctica seleccionada -->
                <div *ngIf="!selectedPractice">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>

                    <!-- Menú con *ngIf para ocultarlo cuando isVisible es falso -->
                    <nav *ngIf="isVisible">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a href="#" class="nav-link align-middle px-0">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Super Administrador</span>
                                </a>
                                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

               <!-- Mostrar la descripción de la práctica seleccionada -->
               <div *ngIf="selectedPractice" class="mt-3 p-2 text-dark">
                <h3>{{ selectedPractice.title }}</h3>
                <p><strong>Unidad:</strong> {{ selectedPractice.unit }}</p>
                <p><strong>Objetivo:</strong> {{ selectedPractice.objective }}</p>
                <p><strong>Descripción:</strong> {{ selectedPractice.description }}</p>
              </div>
                <hr>
            </div>
        </div>
    </div>
</div>